@import "tailwindcss";

:root {
  --background: #f7f7f5;
  --foreground: #160f0f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.form-control:focus {
  border-color: #8b8585;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8b8585 !important;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #8b8585 !important;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #8b8585 !important;
}
.form-select:focus {
  border-color: #8b8585;
}

form {
  input {
    color: #8b8585 !important;
  }
}

nav {
  .navbar-brand {
    color: #8b8585;
  }
  .navbar-brand:hover {
    color: #8b8585;
  }
  .navbar-nav .nav-link {
    color: #8b8585;
  }
  .navbar-nav .nav-link:hover {
    color: #8b8585;
  }
  .navbar-nav .nav-link.active {
    color: #8b8585;
  }
  .navbar-nav .nav-link.active:hover {
    color: #8b8585;
  }
  .navbar-nav .nav-link.disabled {
    color: #8b8585;
  }
  .navbar-nav .nav-link.disabled:hover {
    color: #8b8585;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem !important;
  }
  
  @media (min-width: 640px) {
    .navbar-collapse {
      justify-content: flex-end;
      padding-right: 0.5rem;
      gap: 1.2rem !important;
    }
  }
  
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-button-next {
  right: -20px;
}

.swiper-button-prev {
  left: -20px;
}

@media (max-width: 767px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.swiper-slide {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}