@import "tailwindcss";

:root {
  --background: #f7f2e9;
  --foreground: #160f0f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.font-script {
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}
